<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6" />
    <authentication mode="Windows" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <ws2007HttpBinding>
        <binding name="ws2007HttpUsername" receiveTimeout="10:10:10" useDefaultWebProxy="false">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="Windows" negotiateServiceCredential="false" establishSecurityContext="false" />
          </security>
        </binding>
        <binding name="ws2007HttpWindows">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="Windows" negotiateServiceCredential="false" establishSecurityContext="false" />
          </security>
        </binding>
      </ws2007HttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="SOFAServiceBehavior" name="System.ServiceModel.Security.WSTrustServiceContract">
        <endpoint address="" binding="ws2007HttpBinding" bindingConfiguration="ws2007HttpWindows" contract="System.ServiceModel.Security.IWSTrust13SyncContract" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SOFAServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>